name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    needs: lint
    uses: ./.github/workflows/test.yml

  coverage:
    needs: test
    uses: ./.github/workflows/coverage.yml
